@import "@mdi/font/css/materialdesignicons.css";
@import 'vuetify/styles';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Vazir';
    font-weight: 100;
    src: url(../assets/fonts/Vazir-Thin.woff) format("woff");
}
@font-face {
    font-family: 'Vazir';
    font-weight: 300;
    src: url(../assets/fonts/Vazir-Light.woff) format("woff");
}
@font-face {
    font-family: 'Vazir';
    font-weight: 400;
    src: url(../assets/fonts/Vazir.woff) format("woff");
}
@font-face {
    font-family: 'Vazir';
    font-weight: 500;
    src: url(../assets/fonts/Vazir-Medium.woff) format("woff");
}
@font-face {
    font-family: 'Vazir';
    font-weight: 700;
    src: url(../assets/fonts/Vazir-Bold.woff) format("woff");
}
@font-face {
    font-family: 'Vazir';
    font-weight: 900;
    src: url(../assets/fonts/Vazir-Black.woff) format("woff");
}

body .v-application {
    font-family: 'Vazir', serif !important;
}

.v-row {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
